
h1, h2, h3, p{
    color: white;
}

body{
    background: #1B1B1B;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 84px;
    letter-spacing: 0.1em;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 0.1em;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}


.hero{
    text-align: center;
    background-image: url(/images/hero-background-3.png);
    padding: 160px 20px;
    background-position: center center;
    background-size: cover;
}

.btn-branding{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 17px;
    background: #FFFFFF;
    color: #272142;
    border-radius: 50px;
    padding: 18px, 30px, 18px, 30px;

}

@media (max-width:576px){

    .homepage-gallery img{
        margin-top: 20px;
    }

    h1{
        font-size: 44px;
        line-height: 1.5;
    }

    h2{
        font-size: 20px;
    }

    .hero p{
        display: none;
    }
}