h1,
h2,
h3,
p {
  color: white;
}

body {
  background: #1b1b1b;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 84px;
  letter-spacing: 0.1em;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 0.1em;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.btn {
  padding: 9px 44.5px;
}

.btn-branding {
  font-family: "Montserrat", sans-serif;
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  background: #ffffff;
  color: #272142;
  letter-spacing: 0.2em;
}

.hero {
  text-align: center;
  background-image: url(/images/hero-background-3.png);
  padding: 160px 20px;
  background-position: center center;
  background-size: cover;
}

.about-me {
  padding: 120px 60px;
}

.about-me h2 {
  color: #f65282;
  font-size: 18px;
}

.about-me h1 {
  font-size: 44px;
}
.gallery-hero {
  text-align: center;
  padding: 150px;
}

.gallery {
  padding: 0 144px 144px 144px;
}

@media (max-width: 576px) {
  .homepage-gallery img {
    margin-top: 20px;
  }

  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 20px;
  }

  .hero p {
    display: none;
  }

  .gallery img {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .about-me img {
    margin-bottom: 20px;
  }

  .gallery {
    padding: 20px;
  }
  .gallery-hero {
    padding: 80px 20px 20px 20px;
  }
  .gallery-hero h1 {
    font-size: 44px;
  }
}
